﻿@model Otus.Teaching.Pcf.Administration.UiWebHost.Models.Roles.RoleViewModel

@{
    Layout = "_Layout";
}

<h1>Добавить роль</h1>
<br />

<form method="post" action="Add">
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tr>
            <td>
                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Description, new { @class = "control-label" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Сохранить" />
            </td>
        </tr>
    </table>
</form>
