﻿@model IList<Otus.Teaching.Pcf.Administration.UiWebHost.Models.Roles.RoleViewModel>

@{
    Layout = "_Layout";
}

<h1>Список ролей</h1>
<br />

<a class="btn btn-primary text-white" href="@Url.Action("Add", "Roles")">Добавить роль</a>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>ИД</th>
            <th>Наименование</th>
            <th>Комментарий</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>@role.Description</td>
                <td>
                    <a class="btn btn-primary text-white" href="@Url.Action("Edit", "Roles", new { id = role.Id })">Изменить</a>
                    <a class="btn btn-primary text-white" href="@Url.Action("Remove", "Roles", new { id = role.Id })">Удалить</a>
                    <input type="button" class="btn btn-primary text-white role-del" data-id="@role.Id" value="Удалить JQ" />
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            $('.role-del').click(function () {

                var id = $(this).data('id');

                $.post('@Url.Action("RemoveJQ", "Roles")', { id: id })
                    .done(function (data) {
                        location.href = data;
                    });
            });

        });
    </script>
}

